@import "tailwindcss";
*{

  font-family: yekan;
  direction: rtl;
  
}
@font-face{
  font-family: yekan;
  src: url(../Yekan.woff);
}
@font-face{
  font-family: yekannum;
  src: url(../YekanNumbers-Regular.woff);
}
 .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      background-color: 
;
      align-items: center;
    }
.mySwiper3 .swiper-slide{
 padding: 8px;

}
    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .swiper-button-next{
      position: absolute;
      top: 100px;
      left: 40px;
    }
    